@use '../utils/'as *;

.loading {
  $value: text;
  $color1: get-color(light1);
  $color2: get-color(light2);

  background: linear-gradient(92deg, $color1, $color2) no-repeat;
  background-clip: $value;
  color: rgba(255, 255, 255, 0);
  text-shadow: 0 0 rgba(0, 0, 0, 0.1) !important;
  background-size: 0 100%;
  animation: fill 1s ease-in-out;

  @include loadingFill(fill);
}
