@use '../utils/' as *;

.add-score {
  @include flexCenter;
  @include setFontAttributes;

  h2 {
    $color: get-color(dark2);

    text-shadow: 5px 5px $color;
  }

  margin: 1em;
  align-items: flex-start;
  align-self: baseline;

  form {
    @include flexCenter;

    width: 100%;
    align-items: stretch;

    input {
      @include setColors(get-color(light2), get-color(dark2));
      @include setFontAttributes;

      margin: 1em 0;
      padding: 1em;
    }

    .submit-btn {
      align-self: flex-end;
    }
  }
}
