@use '../utils/'as *;

.recent-scores {
  @include flexCenter;

  margin: 1em;

  .recent-scores-top {
    @include flexCenter(row);

    gap: 1em;

    h2 {
      $color: get-color(dark2);

      text-shadow: 5px 5px $color;
    }
  }
}
