@use '../utils/' as *;
@use '../vendors/include-media' as *;

body {
  @include setFontAttributes;
  @include setColors(get-color(light1), get-color(dark1));

  padding: 0 5em;
  background-image: url('../assets/mobile-background.png');
  background-repeat: no-repeat;
}

// @include media(">tablet") {

// }
