@use '../utils/'as *;
@use '../vendors/include-media'as *;

header {
  @include setFontAttributes(2em);
  @include flexCenter;

  margin-top: 2em;

  @include media(">tablet") {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
      $color: get-color(dark2);
      $value: text;

      background-image: linear-gradient(92deg, #f35626, #feab3a);
      background-clip: $value;
      grid-column: 1 / span 2;
      margin: 1em 0;
      text-shadow: 5px 5px $color;
      animation: hue infinite 1s;
    }

    @include randomColorRotation(hue);
  }
}
