@use '../utils/' as *;

table {
  @include flexCenter;
  $color: get-color(light1);

  overflow-y: auto;
  margin-top: 2em;
  justify-content: flex-start;
  border-collapse: collapse;
  height: 500px;
  border: 1px solid $color;
  border-radius: 8px;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 1em;
  width: 8em;
}

tr:nth-child(even) {
  @include setColors(get-color(light2), get-color(dark2));
}
